.tile {
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;
}

.chess-piece{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.chess-piece:hover{
    cursor: grab;
}

.chess-piece:active{
    cursor: grabbing;
}

.black-tile {
    background-color: #779556;
}

.white-tile {
    background-color: #ebecd0;
}
